@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@font-face {
	font-family: 'fontenova';
	src: url("fontes/BebasNeue-Regular.ttf");
}

body#corpo {
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(208,202,72,1) 0%, rgba(219,115,208,1) 100%);}


header#cabecalho {
	border-bottom: solid 2px gray;
}

article#conteudo {
	margin-left: 15px;
	margin-right: 15px;
}

footer#rodape {
	border-top: solid 2px gray;
	text-align: center;
}

/*Imagens do Cabeçalho*/

img.logo {
	position: absolute;
	top: 5px;
	left: 3px;
}

img.icone {
	position: absolute;
	top: 70px;
	right: 80px;
}

hgroup.titulos h1 {
	font-family: 'Dancing Script', cursive;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 30pt;
	letter-spacing: -20px;
	width: 45%;
	transition: all 2s;
}

hgroup.titulos h1:hover {
	letter-spacing: 6px;
	background-color: rgba(50,61,224,1);
	color: white;
	box-shadow: 6px 6px 6px gray;
	text-decoration: none;
	margin-left: 5px;
	padding-left: 5px;
}

figure.imagens {
	/*border: solid 3px rgb(0,0,0);*/
	background-color: lightgray;
	text-align: center;
	box-shadow: 0px 0px 20px #000000;
	border-radius: 80px;
}

span.texto {
	text-align: justify;
	font-size: 16pt;
	/*font-family: chilanka;*/
	font-family: 'Croissant One', cursive;
	text-indent: 50px;
}

/*Formatação da primeira foto do article*/

figure.foto {
	border: solid 8px black;
	box-shadow: 6px 6px 6px gray;
	text-align: center;
	background-color: lightblue;
	width: 25%;
	padding-top: 5px;
	border-radius: 10px;
	float: right;
}

figure.foto img {
	border: solid 3px green;
	width: 85%;
	height: 150px;
	transition: all 2s;
}

figure.foto img:hover {
	transform: rotatez(45deg);
}

figure.foto h4 {
	margin-top: -4px;
	margin-bottom: 0px;
	background-color: yellow;
}

/*Formatação do menu principal*/

nav.menu h3 {
	display: none;
}

nav.menu ol {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	right: 60px;
}

nav.menu li {
	display: inline-block;
	background-color: lightgray;
	padding: 10px;
	margin: 3px;
	border-radius: 10px;
	transition: background-color 2s, transform 1s;
}

nav.menu li:hover {
	background-color: darkgray;
	transform: rotatez(-25deg);
}

nav.menu a {
	color: #000000;
	text-decoration: none;
}

nav.menu a:hover {
	color: white;
	text-decoration: underline;
}

/*Formatação dos títulos do article*/

article#conteudo h1 {
	font-family: 'fredoka';
	background-color: #c471a8e5;
	text-shadow: 2px 2px 2px #ca9e0d;
	font-size: 25pt;
	text-align: center;
	border-radius: 30px;
	color:rgb(163, 100, 63);
}


/*Formatação da tabela*/

table.produto {
	background-color: white;
	border: 1px solid green;
	border-spacing: 0px;
	float: left;
}

table.produto caption {
	background-color: gray;
	font-size: 15pt;
}

table.produto th {
	border: 1px solid black;
}

table.produto td {
	border: 1px solid red;
	text-align: center;
	padding: 10px;
	transition: border-radius 2s;
}

table.produto td:hover {
	background-color: black;
	color: white;
	border-radius: 25px;
}

table.produto figure.hard {
	margin: 0px;  
}


iframe.video {
	margin-left: 90px;
}

/*Formulário*/

form.contato {
	width: 50%;
	background-color: white;
	margin: auto;
}

fieldset.sexo {
	width: 25%;
}

/*Álbum de Fotos*/

ul.album {
	width: 920px;
	margin: auto;
	padding: 50px;
	list-style: none;
	overflow: hidden;
}

ul.album li {
	width: 200px;
	height: 267px;
	border: solid white 5px;
	margin: 10px;
	font-family: arial;
	text-align: center;
	float: left;
}

ul.album li.foto1 {
	background: url('imagens/equipe/cleber1.jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto1:hover {
	background: url('imagens/equipe/cleber2.jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto2 {
	background: url('imagens/equipe/laura1.jpg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto2:hover {
	background: url('imagens/equipe/laura2.jpg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto3 {
	background: url('imagens/equipe/Lucas Macedo 1.jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto3:hover {
	background: url('imagens/equipe/Lucas Macedo 2.jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto4 {
	background: url('imagens/equipe/lucasMalhao1.jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto4:hover {
	background: url('imagens/equipe/lucasMalhao2.jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto5 {
	background: url('imagens/equipe/lucasramos1.jpg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto5:hover {
	background: url('imagens/equipe/lucasramos2.jpg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto6 {
	background: url('imagens/equipe/luisa1.jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto6:hover {
	background: url('imagens/equipe/luisa2.jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto7 {
	background: url('imagens/equipe/mariaFlores1.jpg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto7:hover {
	background: url('imagens/equipe/mariaFlores2.jpg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto8 {
	background: url('imagens/equipe/') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto8:hover {
	background: url('imagens/equipe/') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto9 {
	background: url('imagens/equipe/maria amaral1.jpg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto9:hover {
	background: url('imagens/equipe/maria amaral1.jpg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto10 {
	background: url('imagens/equipe/maduLeal1.jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto10:hover {
	background: url('imagens/equipe/maduLeal1.jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto11 {
	background: url('imagens/equipe/pamela(1).jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto11:hover {
	background: url('imagens/equipe/pamela(2).jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto12 {
	background: url('imagens/equipe/pedroHenrique1.jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto12:hover {
	background: url('imagens/equipe/pedroHenrique2.jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto13 {
	background: url('imagens/equipe/pedroH1.jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto13:hover {
	background: url('imagens/equipe/pedroH2.jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto14 {
	background: url('imagens/equipe/pietro1.jpg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto14:hover {
	background: url('imagens/equipe/pietro2.jpg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto15 {
	background: url('imagens/equipe/renato2.jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto15:hover {
	background: url('imagens/equipe/renato1.jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto16 {
	background: url('imagens/equipe/rubia1.jpg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto16:hover {
	background: url('imagens/equipe/rubia2.jpg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto17 {
	background: url('imagens/equipe/') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto17:hover {
	background: url('imagens/equipe/') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto18 {
	background: url('imagens/equipe/vanessa2.jpg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto18:hover {
	background: url('imagens/equipe/vanessa1.jpg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto19 {
	background: url('imagens/equipe/vinicius 1.png') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto19:hover {
	background: url('imagens/equipe/vinicius 2.png') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto20 {
	background: url('imagens/equipe/Vitor1.jpg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto20:hover {
	background: url('imagens/equipe/Vitor2.png') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto21 {
	background: url('imagens/equipe/') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto21:hover {
	background: url('imagens/equipe/') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li.foto22 {
	background: url('imagens/equipe/william1.jpeg') no-repeat;
	transition: all 0.5s;
}

ul.album li.foto22:hover {
	background: url('imagens/equipe/william2.jpeg') no-repeat;
	transform: scale(1.3);
	border-radius: 40px;
}

ul.album li span {
	opacity: 0;
	color: white;
	text-shadow: 1px 1px 1px black;
	background-color: rgba(0,0,0,0.4);
	font-size: 8pt;
	line-height: 520px;
	padding: 5px;
	border-radius: 40px;
}

ul.album li:hover span {
	opacity: 1;
}

ol.geral {
	width: 60%;
	margin: auto;
	padding-bottom: 50px;
	list-style: none;
	/*overflow: hidden;*/
}

ol.geral li {
	height: 510px;
	border: solid white 5px;
	font-family: arial;
}

ol.geral li.todos {
	background: url('imagens/equipe/1B2equipe1.jpeg') no-repeat;
	transition: all 0.5s;
}

ol.geral li.todos:hover {
	background: url('imagens/equipe/1B2equipe1.jpeg') no-repeat;
	transform: scale(1.2);
}